.header_container{
    width: 100%;
    background-color: black;
    display:grid;
    grid-template-columns:200px 1fr 400px ;
    grid-template-rows: 40px;
    align-items: center;
    grid-auto-flow: column;
    
    


    .menu{
        grid-column-start: 3;
        grid-column-end: 4;
        font-family: 'Raleway-Black';
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 1%;
       
       
    
        
        
        a{
       
            color:white;
            font-family: 'Raleway';
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem;
            font-size: .88rem;
            font-weight: 600;
            
    
             }
            }
    .logo{
        grid-column-start: 1;
        grid-column-end: 2;
       
        color:white;
        font-family: 'Raleway';
        text-transform: uppercase;
        margin-left: 4rem;
        font-size: 0.88rem;
        font-weight: 600;

        span{
            color:lightseagreen;
        }

        
    }
    


}