
@import "../../../config.scss";

.container {
    background-color:#F1F1F1;
    height: 77vh;
    position: relative;

    h1{
        color:black;
        text-transform: uppercase;
        font-size:1.3rem;
        padding:1rem;
        
        padding: 2px;
        position:absolute;
        top:3.3rem;
        left: 4rem;
        width: 26%;
        border-bottom: 7px solid $prime-color;

       
    }
    
 
    

    .cardHolder{
     
        height: 99%;
        width: 100%;
        display: grid;
        grid-template-rows: 80%;
        grid-template-columns: 33% 33% 33%;
        align-content:end;
        justify-content: end;
        justify-items: center;
       
     
       
        
        
    }
}

.card{
    width: 82%;
    height: 85%;
    background-color:#F9F9F9;
    border:1px solid #C1C1C1;
    position: relative;
    text-align: center;
    color:#9F9F9F;
    
    &::before{
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid #C1C1C1;
        position:absolute;
        top:-2.2rem;
        left:50%;
        transform: translateX(-50%);
    
    }
    &::after{
        content: "";
        display: inline-block;
        width: 25px;
        height: 25px;      
        background-color:#C1C1C1;
        border-radius: 50%;
        position:absolute;
        top:-4.5%;
        left:50%;
        transform: translateX(-50%);

    }

    h2{
        position: absolute;
        top:2.3rem;
      
        width: 100%;
             
        text-transform: uppercase;
        font-size: 22px;
        color:$prime-color;
    }
    .feature_container{

        width: 100%;
        position: absolute;
        top:50%;
        font-size: 1.5rem;
        text-align: center;
    
        .feature{
            background-color:#E3E3E3;            
            height:  3rem;
            padding-top: .4rem;          
        
    }
        .feature_lightgray{
            @extend .feature;
            background-color: #F1F1F1;


    }

    }
    

    .priceBox{
        color: lightgray;
        letter-spacing: 5px;
        position: absolute;
        left: 27%;
        top:17%;
        width: 42%;
        height: 25%;
        background-color: white;
        border-radius: 50%;
        border:1px solid lightgray;
        

        h3{
            margin-top: 25px;
            margin-right: 25px;
            font-size: 3rem;
            

        }
        span:nth-of-type(1){
            font-size: 1.5rem;
            font-weight: bold;
            position: absolute;
            top:10px;
            right: 20px;
        }
        span:nth-of-type(2){
            font-size: 1.2rem;
            font-weight: bold
        }
    }
    .button{
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
         width: 7.6rem;
         height: 2.1rem;
         background-color:$prime-color;
         border-radius: 5px;
         color: white;
         text-align: center;
         text-transform: uppercase;
         padding-top: 3%;
         font-size: 1rem;
    }
}